<button {{on "click" this.activateTab}} title={{this.tab.title}} class="{{if this.tab.active "active"}} list-group-item list-group-item-action text-nowrap" ...attributes>
  {{this.tab.title}}
</button>